@model Vol

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

<h1>Création d'un vol </h1>
<h1></h1>
<h1></h1>

<form method="post" enctype="multipart/form-data" asp-action="Create" asp-controller="Vol">
   
    <div class="mb-3 raw">
        <label asp-for="Destination"></label>
        <input asp-for="Destination" class="form-control" />
    </div>
    <div class="mb-3 raw">
        <label asp-for="Depart"></label>
        <input asp-for="Depart" class="form-control" />
    </div>
    <div class="mb-3 raw">
        <label asp-for="DateArrivee"></label>
        <input asp-for="DateArrivee" class="form-control" />
    </div>

    <div class="mb-3 raw">
        <label asp-for="Prix"></label>
        <input asp-for="Prix" class="form-control" />
    </div>

    <div class="mb-3 raw">
        <label asp-for="NombrePlacesMax"></label>
        <input asp-for="NombrePlacesMax" class="form-control" />
    </div>

    <div class="mb-3 raw">
        <label asp-for="PlacesDisponibles"></label>
        <input asp-for="PlacesDisponibles" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Créer</button>
    <a asp-controller="Vol" asp-action="Index1" class="btn btn-outline-secondary form-control">Retour à la liste</a>

</form>

<span asp-validation-for="Id" class="text-danger"></span>
<span asp-validation-for="Destination" class="text-danger"></span>
<span asp-validation-for="Depart" class="text-danger"></span>
<span asp-validation-for="DateArrivee" class="text-danger"></span>
<span asp-validation-for="Prix" class="text-danger"></span>
<span asp-validation-for="NombrePlacesMax" class="text-danger"></span>
<span asp-validation-for="PlacesDisponibles" class="text-danger"></span>


<div asp-validation-summary="All"></div>









