@model Gestionnaire
<h1>Modification d'un gestionnaire</h1>
<h1></h1>
<h1></h1>

<form method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Nom"></label>
        <input asp-for="Nom" class="form-control" />
        <span asp-validation-for="Nom" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Code"></label>
        <input asp-for="Code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="AnneeRecrutement"></label>
        <input asp-for="AnneeRecrutement" class="form-control" />
        <span asp-validation-for="AnneeRecrutement" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary form-control">Modifier gestionnaire</button>
    <a asp-controller="Gestionnaire" asp-action="Index" class="btn btn-outline-secondary form-control">Retour à la liste</a>
    </form>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}

